div#3dsecurePage(class='interior', data-role='page', data-add-back-btn="true", data-back-btn-text="Back")
    !=partial('header_nologo', { title: '3D Secure' })
    div.ui-content(data-role='content')
        h3 HOW IT WORKS
        p 3D Secure payment security creates what is called a 'trust chain' throughout the transaction, shifting the liability for fraud from the merchant to the issuer under a range of conditions.
        p 3D secure payment security is only applicable to e-Commerce/Internet transactions.
          3D Secure authentication requires the cardholder to register their card to take advantage of
          this service. This is a onetime process which takes place on the card issuer’s website and
          involves the cardholder answering several security questions to which only the card issuer
          and cardholder will know the answer. The cardholder selects a password and agrees on a
          secret phrase, which will be used by the card issuer during each online transaction.