li
	a(href="contact?name=#{location.name}")
		div.ui-grid-b
			div.ui-block-a!=location.name
			//-div.ui-block-b!=flight.code
			//-div.ui-block-a!=(flight.arr + ' ' + flight.destination)
			//div.ui-block-b!=flight.duration
