#contactsPage.interior(data-role='page', data-add-back-btn="true", data-back-btn-text="Back")
	!=partial('header_nologo', { subtitle: 'Contact' })
	div(data-role='content')
		ul(data-role='listview')
			-each location in locations
				!=partial('location', { location: location})
	.ui-bar(data-role='footer', data-position='inline')
		div(data-role='controlgroup', data-type='horizontal')
			a(href="map", data-role="button", data-icon="search") Map
			a#nearest_me(href="contacts?type=nearest_me", data-role="button", data-icon="gear") Nearby
			a(href="contacts?type=contact_centers", data-role="button", data-icon="arrow-d") Phone
			a(href="contacts?type=sales", data-role="button", data-icon="arrow-d") Sales
//-#maps(data-role='page')
	//-!=partial('header', { subtitle: 'Maps' })