div#faqPage(class='interior', data-role='page', data-add-back-btn="true", data-back-btn-text="Back")
    !=partial('header_nologo', { title: 'FAQ' })
    div.ui-content(data-role='content')
        div(data-role='collapsible')
            h3 Am I allowed to smoke at the lounge?
            p Smoking in the lounges (Both Simba and Premier lounge) is not permitted but there is a designated smoking area outside the Premier lounge
        div(data-role='collapsible')
            h3 Can my pet travel in the cabin with me?
            p Pets are not allowed in the cabin when traveling Kenya Airways. They may however be accepted as Cargo. Please see more details here.
        div(data-role='collapsible')
            h3 Does KQ accept a medical case on board?
            p Yes. Kenya Airways can accept a medical case on board but the request ought to have been made at the time of making your reservations and appropriate directions given by a competent KQ staff member with regards to medical certification, charges and necessity for the passenger to be accompanied.