div#homePage(data-role='page')
    !=partial('header', { subtitle: 'Home' })
    div(data-role='content')
        ul(data-role='listview')
            li
              a(href="plan") Plan and Book
            li
              a(href="timetable") Flight Timetable
            li
              a(href="checkin") Check in
            li
              a(href="information") Information
            li
              a(href="contacts") Contact Us