div(data-role='page')
    !=partial('header', { subtitle: 'Home' })
    div(data-role='content')
        ul(data-role='listview')
            li
              a(href="plan", rel="external") Plan and Book
            //-li
              //-a(href="checkin") Online Checkin
            //-li
              //-a(href="offers") Special Offers
            li
              a(href="timetable") Flight Timetable
            li
              a(href="contact") Contact Us