!!! 5
html
  head
    title!=title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.0.min.css')
    link(rel='stylesheet', href='/stylesheets/#{version}-theme.css')
    link(rel='stylesheet', href='/stylesheets/jquery.mobile.datebox.min.css')
    link(rel='stylesheet', href='/stylesheets/opera.css')
    link(rel='shortcut icon', type="image/x-icon", href='images/#{version}.ico')
  body!= body