div#mpesaPage(class='interior', data-role='page', data-add-back-btn="true", data-back-btn-text="Back")
    !=partial('header_nologo', { title: 'Mpesa' })
    div.ui-content(data-role='content')
        p Log onto www.kenya-airways.com
        p Make a purchase of a ticket that is less than or equal to Kshs. 140,000 inclusive of taxes
        p Once booking is through, a Booking confirmation email will be sent to your email address containing the booking reference number.
        p Use this booking reference number e.g. 5KJYT (in the account number field in MPESA PayBill menu)to make payment through MPESA using our business number 777777
        p KQ confirms receipt of payment
        p KQ sends both SMS and email with e-ticket to customer
        p End of transaction