div#paymentPage(class='interior', data-role='page', data-add-back-btn="true", data-back-btn-text="Back")
    !=partial('header_nologo', { title: 'Payment Methods' })
    div.ui-content(data-role='content')
        ul(data-role='listview')
            li
              a(href="mpesa") Mpesa
            li
              a(href="airtel") Airtel Money
            li
              a(href="3dsecure") 3D Secure