div#planPage(class='interior', data-role='page', data-add-back-btn="true", data-back-btn-text="Back")
	!=partial('header_nologo', { subtitle: 'Plan and Book' })
	div.ui-content(data-role='content')
		div.content-primary
			form#frmPlan(action='/plan_view', method='get')
				div(data-role='field-contain')   
					label(for='type_slider') Trip type
					select#type_slider(data-role="slider", name: "flight_type")
						option(value='return') Return
						option(value='one-way') One way
				div(data-role='field-contain')
					label(for='from_airport') From
					!=partial('airports', {name: 'from_airport', def: 'NBO'})
				div(data-role='field-contain')
					label(for='to_airport') To
					!=partial('airports', {name: 'to_airport', def: 'MBA'})
				div(data-role='field-contain')
					label(for='dep_date') Departure
					input#dep_date(data-role='datebox', data-options='{"mode" : "calbox", "afterToday" : true, "noButtonFocusMode": true, "disableManualInput": true, "dateFormat" : "YYYY-MM-DD"}', value=dep_date, name: 'dep_date')
				div(data-role='field-contain')
					label(for='ret_date') Return
					input#ret_date(name="ret_date", data-role='datebox', data-options='{"mode" : "calbox", "afterToday" : true, "noButtonFocusMode": true, "disableManualInput": true, "dateFormat" : "YYYY-MM-DD"}', value=ret_date, name: 'ret_date')
				div(data-role='field-contain', data-type='horizontal')
					fieldset(data-role='controlgroup')
						legend Options
						label(for='sel_num_adults') Adults
						select#sel_num_adults
							option(value='-') Adult +12 yrs
							option(value='1', selected='on') 1 Adult
							option(value='2') 2 Adults
						label(for='sel_num_children') Children
						select#sel_num_children
							option(value='-') Child 2-11 yrs
							option(value='1') 1 Child
							option(value='2') 2 Children
						label(for='sel_num_infants') Infants
						select#sel_num_infants
							option(value='-') Infants <2 yrs
							option(value='1') 1 Infant
							option(value='2') 2 Infants
						label(for='sel_class') Class
						select#sel_class
							option(value='ECO') Economy
							option(value='PW') Premier World
				div(data-role='field-contain', data-theme="c")
					input(type="submit", value="Search")
							