#specialOffersPage.interior(data-role='page', data-add-back-btn="true", data-back-btn-text="Back")
	!=partial('header_nologo', { subtitle: 'Offers' })
	p &nbsp;Tap on the "+" to read more about the offer
	
	div(data-role='collapsible-set')
	- each offer in offers
		div(data-role='collapsible', data-collapsed='true')
			h3=offer.heading
			p=offer.detail
		