#specialOffersPage.interior(data-role='page', data-add-back-btn="true", data-back-btn-text="Back")
	!=partial('header_nologo', { subtitle: 'Offers' })
	p &nbsp;Tap on the "+" to read more about the offer
	div(data-role='collapsible-set')
		div(data-role='collapsible', data-collapsed='false')
			h3 4% off all online bookings from Maputo
			p From 14th Sep to 31st Mar 2012, Kenya Airways is offering anyone purchasing a ticket from Maputo the chance to save 4% off the normal cost of a ticket. All you have to do is book and pay for your ticket online at kenya-airways.com. So remember, if you're flying from Maputo, first thing to do is log on kenya-airways.com and a 4% off...Easy, Fast and convenient
		div(data-role='collapsible')
			h3 4% off all online bookings from Lilongwe, Malawi
			p Kenya Airways is offering anyone purchasing a ticket from Malawi the chance to save 4% off the normal cost of a ticket. All you have to do is book and pay for your ticket online at kenya-airways.com. So remember, if you're flying from Malawi, first thing to do is log on kenya-airways.com and a 4% off...Easy, Fast and convenient. Valid till 31st March 2012
		div(data-role='collapsible')
			h3 Great special fares for online bookings from Johannesburg to Kenya and beyond into Africa
			p Kenya Airways is offering anyone purchasing a ticket from Johannesburg the opportunity of great savings to Kenya and beyond into Africa. All you have to do is book and pay for your ticket online at kenya-airways.com. So remember, if you're flying from Johannesburg, first thing to do is log onto kenya-airways.com and benefit from great specials. Valid till 31st March 2012
		