div#timetablePage(class='interior', data-role='page', data-add-back-btn="true", data-back-btn-text="Back")
	!=partial('header', { title: 'Timetable' })
	div.ui-content(data-role='content')
		div.content-primary
			form#frmTimetable(action='/timetable_view', method="get",data-ajax="false")
				div(data-role='field-contain')
					label(for='from_airport') From
					!=partial('airports', {name: 'from_airport', def: 'NBO'})
				div(data-role='field-contain')
					label(for='to_airport') To
					!=partial('airports', {name: 'to_airport', def: 'MBA'})
				input#action(type='hidden', name='action', value='search')
				div(data-role='field-contain', data-theme="c")
					br
					button(type="submit", data-theme="b", name="submit", value="Search")