div#visahealthPage(class='interior', data-role='page', data-add-back-btn="true", data-back-btn-text="Back")
    !=partial('header_nologo', { title: 'Visa and Health Information' })
    div.ui-content(data-role='content')