.logo {
	text-align: center;
}

.logoimg {
	max-width: 100%;
}

.ui-body-c, .ui-dialog.ui-overlay-c {
	background: #FFFFFF;
    border: 1px solid #B3B3B3;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
}

.ui-bar-a {
	background: #BF000E;
}

.ui-btn-up-b {
	background: #BF000E;
}

.center-item {
	margin: 0 auto;
}

.center-wrapper {
	text-align: center;

}
.center-wrapper * {
	margin: 0 auto;
}

.ui-bar-b {
	background: #000000;
}

.ui-btn-up-c {
	background: rgb(255, 228, 228);
}

.ui-btn-up-c, .ui-btn-hover-c  {
	font-weight:normal;
	font-size: 12px;
}

.ui-btn-hover-c {
	background: rgb(255, 239, 229);
}

/* validation */
.portrait label.error, .landscape label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

.landscape label.error { 
    display: inline-block; 
    margin-left: 22%; 
}

.portrait label.error { 
    margin-left: 0; 
    display: block; 
}

em { 
    color: red; 
    font-weight: bold; 
    padding-right: .25em; 
}